body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-color: rgb(32, 32, 32);
}

#root {
  background-color: rgb(32, 32, 32);
  color: rgb(243, 243, 243);
}

.wholePage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

div[class*='row'] {
  margin-bottom: 0.5rem;
  /* background-color: rgb(43, 42, 42); */
  color: rgb(243, 243, 243);
  font-family: "Noto sans";
  overflow: scroll ;
}

.title {
  font-family: 'Satisfy', sans-serif;
  text-align: center;
  font-size: 3em;
}

.mainPage {
  max-height: calc(100vh - 5rem);
}

form {
  width: 100%;
}

.text-overflow {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.list-group-item {
  background-color: rgba(43, 42, 42, 0);
  border: none;
  color: rgb(243, 243, 243);
}

li.list-group-item {
  background-color: rgb(43, 42, 42);
  color: rgb(243, 243, 243);
}

input.form-control {
  background-color: rgb(43, 42, 42);
  color: rgb(25, 162, 184);
  border-color: rgb(25, 162, 184);
}

.fullInfo {
  overflow: scroll;
  max-height: 7rem;
}

.songName {
  overflow-wrap: hidden;
}

.songAndArtist {
  overflow: scroll;
}

.artist {
  color: rgb(161, 161, 161);
  font-size: 1.1em;
}

.fa-circle-o-notch {
  color: rgb(25, 162, 184);
}

.album_cover {
  float: left;
  margin-right: 1em;
}

.list-group {
  display: block !important;
}

.nowplayingcover {
  height: 5em;
  width: 5em;
}

.nowplayer {
  z-index: 999;
  background-color: rgba(43, 42, 42, 0.57);
  /* margin-left: 0 !important; */
}

.blurr {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(50px);
  z-index: -10000;
}

.homeBlurr {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(30px) saturate(50%);
  z-index: -9999;
}

.homeButtons {
  background-color: rgba(43, 42, 42, 0.295) !important;
}

.playButton {
  border-radius: 100% !important;
}

.pauseButton {
  border-radius: 100% !important;
}

.nextButton {
  border-radius: 100% !important;
}

.heyo {
  overflow: hidden !important;
}

.q_search {
  overflow: scroll !important;
  max-height: calc(100vh - 18rem);
  background-color: rgb(43, 42, 42);
}

.user_q_search {
  overflow: scroll !important;
  max-height: calc(100vh - 17rem);
  background-color: rgb(43, 42, 42);
}

.playlistCont {
  background-color: rgb(43, 42, 42);
}

.importInfo {
  color: rgb(161, 161, 161);
}

.settingCont {
  background-color: rgb(43, 42, 42);
}

.joinRoom {
  text-align: center;
}

.userplaylist {
  background-color: rgb(43, 42, 42);
}

.endCont {
  max-width: 20em;
  background-color: rgb(43, 42, 42);
}

.scrollable {
  overflow: scroll !important;
}

a:hover {
  text-decoration: none !important;
}

#mobile-download {
  display: none;
}

input:disabled {
  background: rgb(43, 42, 42) !important;
}

.greyedSearch {
  background: rgb(43, 42, 42) !important;
  border-color: #656b70 !important;
}

.nowPlayingSongName {
  max-height: 8vh;
  max-width: 45vw;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.nowPlayingDevice {
  max-height: 8vh;
  max-width: 75vw;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.userSongItem {
  background-color: rgb(43, 42, 42) !important;
  color: rgb(243, 243, 243) !important;
  text-align: left !important;
}

.userSongItem:active {
  background-color: rgb(255, 192, 8) !important;
}

.userSongItem:hover {
  background-color: rgb(59, 58, 58) !important;
}