body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-color: rgb(0, 0, 0);
  color: rgb(228, 228, 228);
}

#root {
  background-color: rgb(0, 0, 0);
  color: rgb(228, 228, 228);
}

div[class*='row'] {
  margin-bottom: 0.5rem;
  background-color: rgb(130, 130, 130);
  color: rgb(228, 228, 228);
}

form {
  width: 100%;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.list-group-item {
  color: black;
  background-color: rgb(132, 189, 0);
}